[Unit]
Description=IIT-K Firwall

[Service]
Environment=DISPLAY=:0 
Type=simple
ExecStart=/home/rejuvyesh/.nix-profile/bin/firewall-auth
Restart=always

[Install]
WantedBy=default.target
