[user]
	email       = mail@rejuvyesh.com
	name        = rejuvyesh
	signingkey  = CEEACD5D
[credential]
	helper = cache --timeout=360000
[color]
	ui = auto
[alias]
	br    = branch
	ci    = commit
	co		= checkout
	hist	= log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lg		= log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	d			= difftool
	df    = diff --color-words
	ds    = diff --staged
	dc		= diff --cached
	ci		= commit
	undo  = checkout --
	pom   = push origin master
	pum		= pull origin master
	unt   = ls-files --other --exclude-standard
	st    = status -s
	pur   = pull --rebase
[diff]
	tool = meld
	mnemonicprefix = true
[difftool]
	prompt = false
[merge]
	tool = meld3
	conflictsytle = diff3
[mergetool "meld3"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
[push]
	default = matching
[core]	
	excludesfile	= /home/rejuvyesh/.global-gitignore
[gui]
	encoding                = utf-8
	spellingdictionary      = none
[include]
	path = .git-local
[github]
	user = rejuvyesh
