# ignore all "normal" files/dirs, but manage all dotfiles
/*
!/.*
*.pyc
*.sw[a-z]
.*~

# ignore host-specific files
.config/mc/filepos
.config/mc/history
.config/mc/panels.ini
.local

# ignore secure
.dropbox*
.gem
.git-local
.gnupg
.ssh
.evernote-mode
.emacs.d
.wmal
.irssi
.password-store
.mpdscribble
.lastpass
.geeknote
.Skype
.copy
.todo
*.gpg
.offline*
.pki
.pentadactyl/info

# ignore caches and histories
*history
*hist*
*cache*
.adobe
.bup
.cache
.dbus
.dmenu_cache
.dvdcss
.gconf
.gconfd
.gnuplot-wxt
.gtk-bookmarks
.icedtea
.icedteaplugin
.lesshst
.local/share
.lyrics
.macromedia
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.zcomp*
.texlive*
.swt
.recent*
.aspell*
.ispell*
.ido*
.ecb*
.mailcap
.*lock*
.covers
.thumbnails
.matlab
.cabal/setup-exe-cache

# ignore logs
*log
.xsession-errors

# ignore stupid confs no one loves :)
.android
.ardour*
.audacity*
.config/Trolltech
.config/calibre
.config/enchant
.config/google-googletalkplugin
.config/gtk-2.0
.config/hexchat
.config/htop/
.config/inkscape
.config/kde.org/
.config/libreoffice
.config/mcomix
.config/meld
.eclipse
.gervill
.gimp*
.gitk
.gnome2
.java
.kchmviewer
.kde4
.libreoffice
.links
.mono
.mozc
.FontForge
.wicd
.rnd
.pyload
.config/chromium
.config/Amphetype
.config/MusicBrainz
.config/Skype
.config/eiskaltdc++
.config/mpd_sima
.config/qBittorrent

# ignore mail, firefox and ims, oh my!
.mozilla
.purple

# ignore wine
.wine*

# ignore rbenv
.rbenv

# ignore virtualenv
.virtualenvs

# ignore cpan
.cpan

# ignore nix
.nix-defexpr
.nix-profile

# ignore lol
.lolcommits
.rmpvrc
.vim/undo
.gstreamer-0.10
.mpv/watch_later
.julia
.octave_hist
.octave_packages
.pulse*
.elinks/cookies*
.config/beets/
.bundler
.lolcommits
.bundle/bin
.authinfo*
.arbtt/capture.log*

# kde
!.kde4/share/apps/dolphin
!.kde4/share/apps/okular
!.kde4/share/config/okularpartrc
.zsh/local.sh
.urls.txt
.wine32ie7
.wine-ie7
.wireshark
.todo.cfg
.todo-ideas.cfg
.todo-today.cfg
.travis
.npm
.netrc
/home/rejuvyesh/.offlineimaprc
.mu
.rdoc
.config/Trolltech.conf
.bundle/Gemfile.lock
.bundle/ruby/
.qt
.python-eggs
.mutt/tmp
.elinks/bookmarks
.fehbg
.Foxit/
.bash_logout
.beeminderrc
.mpd/mpd.db
.wsend/
.mpd/pid
.mpd/playlists/5.m3u
.mpd/state
.Xauthority
.ghc/x86_64-linux-7.*
.pandoc/
.config/lastfm
.xournal
