Xcursor.theme: Neutral

Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

Emacs.FontBackend: xft

URxvt.urgentOnBell      : true

URxvt*scrollBar         : true
URxvt*scrollstyle       : plain
URxvt*scrollBar_right   : true
URxvt*scrollTtyKeypress : true
URxvt*scrollWithBuffer  : true
URxvt*scrollTtyOutput   : false
URxvt.jumpScroll        : true
URxvt.skipScroll        : true 


URxvt.perl-lib        : /usr/lib/urxvt/perl/
URxvt.perl-ext-common : default,matcher,clipboard,font-size
URxvt.url-launcher    : /usr/bin/firefox
URxvt.matcher.button  : 1
URxvt.saveLines       : 100000
URxvt.keysym.M-c      : perl:clipboard:copy
URxvt.keysym.M-v      : perl:clipboard:paste
URxvt.keysym.M-C-v    : perl:clipboard:paste_escaped
URxvt.depth           :             32
URxvt.keysym.M-Down : perl:font-size:decrease
URxvt.keysym.M-Up   : perl:font-size:increase

URxvt*font:           -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-*-*,xft:DejaVu Sans Mono:pixelsize=14,xft:Sazanami Gothic:pixelsize=14
URxvt*boldFont:       -xos4-terminus-bold-*-*-*-12-*-*-*-*-*-*-*
URxvt*italicFont:
URxvt*boldItalicFont:

URxvt.colorIT: #87af5f
URxvt.colorBD: #d7d7d7
URxvt.colorUL: #87afd7

!=================================
! Multicolor

!black
*color0: #171717
*color8: #737373

!red
*color1: #FF5E5E
*color9: #FF7878

!green
*color2: #9CE82B
*color10: #9ACD32

!yellow
*color3: #F0E68C
*color11: #EEE8AA

!blue
*color4: #008AFF
*color12: #4F98FF

!magenta
*color5: #E88CFF
*color13: #EDA6FF

!cyan
*color6: #87CEFA
*color14: #B0E2FF

!white
*color7: #DCDCCC
*color15: #FFFFFF

URxvt*background : [85]#000000
URxvt*foreground : #d4d4d4
