Xcursor.theme: Neutral
!Xcursor.size: 16

Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

Emacs.FontBackend: xft

URxvt.urgentOnBell      : true

URxvt*scrollBar         : true
URxvt*scrollstyle       : plain
URxvt*scrollBar_right   : true
URxvt*scrollTtyKeypress : true
URxvt*scrollWithBuffer  : true
URxvt*scrollTtyOutput   : false
URxvt.jumpScroll        : true
URxvt.skipScroll        : true 


! URxvt*transparent: true
! URxvt*fading: 30
! URxvt*shading: 20

URxvt.perl-lib        : /usr/lib/urxvt/perl/
URxvt.perl-ext-common : default,matcher,clipboard
URxvt.url-launcher    : /usr/bin/firefox
URxvt.matcher.button  : 1
URxvt.saveLines       : 100000
URxvt.keysym.M-c      : perl:clipboard:copy
URxvt.keysym.M-v      : perl:clipboard:paste
URxvt.keysym.M-C-v    : perl:clipboard:paste_escaped
URxvt.depth           :             32

!*color4: rgb:36/73/b5
!*color12: rgb:1b/85/d6

URxvt*font:           -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-*-*,xft:DejaVu Sans Mono:pixelsize=14,xft:Sazanami Gothic:pixelsize=14
URxvt*boldFont:       -xos4-terminus-bold-*-*-*-12-*-*-*-*-*-*-*
URxvt*italicFont:
URxvt*boldItalicFont:

!URxvt*foreground: #FFFFFF
!URxvt*background: #303030

URxvt.colorIT: #87af5f
URxvt.colorBD: #d7d7d7
URxvt.colorUL: #87afd7

! !================================
! ! tango theme
! !================================

! *background:              #404040
! *foreground:              #babdb6
! *color0:                  #2e3436
! *color1:                  #cc0000
! *color2:                  #4e9a06
! *color3:                  #c4a000
! *color4:                  #3465a4
! *color5:                  #75507b
! *color6:                  #06989a
! *color7:                  #d3d7cf
! *color8:                  #555753
! *color9:                  #ef2929
! *color10:                 #8ae234
! *color11:                 #fce94f
! *color12:                 #729fcf
! *color13:                 #ad7fa8
! *color14:                 #34e2e2
! *color15:                 #eeeeec

!=================================
! Multicolor

!black
*color0: #171717
*color8: #737373

!red
*color1: #FF5E5E
*color9: #FF7878

!green
*color2: #9CE82B
*color10: #9ACD32

!yellow
*color3: #F0E68C
*color11: #EEE8AA

!blue
*color4: #008AFF
*color12: #4F98FF

!magenta
*color5: #E88CFF
*color13: #EDA6FF

!cyan
*color6: #87CEFA
*color14: #B0E2FF

!white
*color7: #DCDCCC
*color15: #FFFFFF

URxvt*background : [85]#000000
URxvt*foreground : #d4d4d4
